/* Reset dan pengaturan dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ganti-password-page {
  font-family: 'Roboto', sans-serif;
  background-color: #fff; /* Warna latar belakang putih */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Memastikan tinggi layar penuh */
}

.ganti-password-container {
  width: 100%;
  max-width: 400px; /* Batas lebar maksimum */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.ganti-password-container h1 {
  font-size: 24px; /* Ukuran teks judul */
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

.ganti-password-container p {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
  font-size: 14px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px; /* Padding input */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px; /* Ukuran font */
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #5c6bc0; /* Warna saat fokus */
  outline: none;
}

button {
  width: 100%;
  padding: 12px; /* Padding tombol */
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px; /* Ukuran font tombol */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3f51b5; /* Warna saat hover */
}

button:active {
  background-color: #3949ab; /* Warna saat klik */
}
