.tambah-peminjaman-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .tambah-peminjaman-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .tambah-peminjaman-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .btn-submit {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  